<!DOCTYPE html>
<html lang="en">
<head>
   <title>হাজী সিরাজ উদ্দিন মেমোরিয়াল উচ্চ বিদ্যালয়</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="Hazi Siraj Uddin Memorial High School">
 
    <link rel="icon" href="~/images/SchoolContent/logofinal_REj_icon.ico" type="image/x-icon">
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
@*    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HSUMHS.UI.styles.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/novi.css" />
</head>
<body>
    <header class="page-head">
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar novi-background rd-navbar-center" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="220px" data-xl-stick-up-offset="220px" data-xxl-stick-up-offset="220px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                <div class="rd-navbar-inner">
                    <div class="rd-navbar-panel">
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap"><span></span></button>
                        <h4 class="panel-title">HSUMHS</h4><button class="rd-navbar-top-panel-toggle" data-rd-navbar-toggle=".rd-navbar-top-panel"><span></span></button>
                        <div class="rd-navbar-top-panel">
                            <div class="shell">
                                <div class="range range-10 range-md-center range-md-middle range-lg-around">
                                    <div class="cell-md-3">
                                        <div class="unit unit-horizontal unit-top unit-spacing-xs">
                                            <div class="unit-left"><span class="icon novi-icon mdi mdi-phone text-middle"></span></div>
                                            <div class="unit-body"><a class="reveal-block" href="tel:#">+8801815052070</a></div>
                                        </div>
                                    </div>
                                    <div class="cell-md-3 text-center">
                                        <div class="rd-navbar-brand"><a class="reveal-inline-block" href="index.html"><img src="~/images/SchoolContent/logofinal.png" alt="" width="200" height="130"></a></div>
                                    </div>
                                    <div class="cell-md-3">
                                        <div class="inset-md-left-50">
                                            <div class="unit unit-horizontal unit-top unit-spacing-xs text-left">
                                                <div class="unit-left"><span class="icon novi-icon mdi mdi-map-marker text-middle"></span></div>
                                                <div class="unit-body"><a href="#">কদম রসুল,নবীগঞ্জ,বন্দর,নারায়ণগঞ্জ</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rd-navbar-menu-wrap clearfix">
                        <div class="rd-navbar-nav-wrap">
                            <div class="rd-navbar-mobile-scroll">
                                <div class="rd-navbar-mobile-header-wrap">
                                    <div class="rd-navbar-mobile-brand"><a href="index.html"><img src="images/logo-default-2-144x122-1.png" alt="" srcset="images/logo-default-2-144x122-1.png 2x"></a></div>
                                </div>
                                <ul class="rd-navbar-nav">
                                    <li><a href="index.html">প্রথম পাতা</a></li>
                                    <li>
                                        <a href="#">পরিচিতি</a>
                                        <ul class="rd-navbar-dropdown">
                                            <li><a href="#">সংক্ষিপ্ত ইতিহাস</a></li>
                                            <li><a href="#">এক নজরে পরিচিতি</a></li>
                                            <li><a href="#">আমাদের অর্জন</a></li>
                                        </ul>
                                    </li>
                                    <li class="rd-navbar--has-dropdown rd-navbar-submenu">
                                        <a href="#">জনবল</a>
                                        <ul class="rd-navbar-dropdown rd-navbar-open-right" style="">
                                            <li><a href="#">কর্মচারী</a></li>
                                            <li><a href="#">শিক্ষক-শিক্ষিকা</a></li>
                                        </ul>
                                    </li>
                                    <li class="rd-navbar--has-dropdown rd-navbar-submenu">
                                        <a href="#">শিক্ষার্থী</a>
                                        <ul class="rd-navbar-dropdown rd-navbar-open-right" style="">
                                            <li><a href="#">অধ্যয়নরত শিক্ষার্থীর সংখ্যা</a></li>
                                            <li><a href="#">অধ্যয়নরত শিক্ষার্থীর তালিকা</a></li>
                                            <li><a href="#">ডিজিটাল হাজিরার তথ্য</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">ছবির গ্যালারী</a>
                                    </li>

                                    <li><a href="contacts.html">যোগাযোগ</a></li>.
                                    <li class="rd-navbar--has-dropdown rd-navbar-submenu">
                                        <a href="#">স্বাধীনতার সুবর্ণ জয়ন্তী কর্নার</a>
                                        <ul class="rd-navbar-dropdown rd-navbar-open-right" style="">
                                            <li><a href="#">নোটিশ </a></li>
                                            <li><a href="#">ছবির গ্যালারী</a></li>
                                            <li><a href="#">ভিডিও গ্যালারী</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <!-- <div class="rd-navbar-search-mobile" id="rd-navbar-search-mobile">
                                    <form class="rd-navbar-search-form search-form-icon-right rd-search" action="search-results.html" method="GET">
                                        <div class="form-group"><label class="form-label" for="rd-navbar-mobile-search-form-control">Search...</label><input class="rd-navbar-search-form-control form-control form-control-gray-lightest" id="rd-navbar-mobile-search-form-control" type="text" name="s" autocomplete="off"></div><button class="icon fa-search rd-navbar-search-button" type="submit"></button>
                                    </form>
                                </div> -->
                            </div>
                        </div>
                        <!-- <div class="rd-navbar-search"><a class="rd-navbar-search-toggle mdi" data-rd-navbar-toggle=".rd-navbar-search" href="#"><span></span></a>
                            <form class="rd-navbar-search-form search-form-icon-right rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                                <div class="form-group"><label class="form-label" for="rd-navbar-search-form-control">Search</label><input class="rd-navbar-search-form-control form-control form-control-gray-lightest" id="rd-navbar-search-form-control" type="text" name="s" autocomplete="off">
                                    <div class="rd-search-results-live" id="rd-search-results-live"></div>
                                </div>
                            </form>
                        </div> -->
                    </div>
                </div>
            </nav>
        </div>
    </header>



      
        @RenderBody()





    <footer class="section page-footer">
        <div class="novi-background bg-cover bg-default">
            <div class="shell-wide">
                <div class="hr bg-gray-light"></div>
            </div>
            <div class="section-60">
                <div class="shell">
                    <div class="range range-50 range-lg-justify range-xs-center">
                        <div class="cell-md-3 cell-lg-3">
                            <a class="reveal-inline-block" href="index.html"><img src="images/SchoolContent/logofinalfooter.png" alt="" srcset="images/SchoolContent/logofinalfooter.png" style="width: 35%;"></a>
                            <div class="offset-top-30 text-center">
                                <ul class="list-inline list-inline-xs list-inline-madison">
                                    <li><a class="icon novi-icon icon-xxs fa-facebook icon-circle icon-gray-light-filled" href="#"></a></li>
                                    <li><a class="icon novi-icon icon-xxs fa-twitter icon-circle icon-gray-light-filled" href="#"></a></li>
                                    <li><a class="icon novi-icon icon-xxs fa-google icon-circle icon-gray-light-filled" href="#"></a></li>
                                    <li><a class="icon novi-icon icon-xxs fa-instagram icon-circle icon-gray-light-filled" href="#"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="cell-xs-10 cell-md-5 cell-lg-4 text-lg-left">
                            <h6 class="text-bold">Contact us</h6>
                            <div class="text-subline"></div>
                            <div class="offset-top-30">
                                <ul class="list-unstyled contact-info list">
                                    <li>
                                        <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                            <div class="unit-left"><span class="icon novi-icon mdi mdi-phone text-middle icon-xs text-madison"></span></div>
                                            <div class="unit-body"><a class="text-dark" href="tel:#">+8801815052070</a></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                            <div class="unit-left"><span class="icon novi-icon mdi mdi-map-marker text-middle icon-xs text-madison"></span></div>
                                            <div class="unit-body text-left"><a class="text-dark" href="#">কদম রসুল,নবীগঞ্জ,বন্দর,নারায়ণগঞ্জ</a></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                            <div class="unit-left"><span class="icon novi-icon mdi mdi-email-open text-middle icon-xs text-madison"></span></div>
                                            <div class="unit-body"><a href="mailto:#">hazisirajuddinmhs@gmail.com</a></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="cell-xs-10 cell-md-8 cell-lg-4 text-lg-left">
                            <h6 class="text-bold">নিউজলেটার</h6>
                            <div class="text-subline"></div>
                            <div class="offset-top-30 text-left">
                                <p>প্রতিষ্ঠানের সর্বশেষ খবর, বিশেষ ইভেন্ট এবং ছাত্র কার্যকলাপ সরাসরি আপনার ইনবক্সে পৌঁছে দিতে আপনার ইমেল ঠিকানা লিখুন।</p>
                            </div>
                            <div class="offset-top-10">
                                <form class="rd-mailform form-subscribe" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                                    <div class="form-group">
                                        <div class="input-group input-group-sm"><label class="form-label" for="form-email">Your e-mail</label><input class="form-control" id="form-email" type="email" name="email" ><span class="input-group-btn"><button class="btn btn-sm btn-primary" type="submit">Subscribe</button></span></div>
                                    </div>
                                    <div class="form-output"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-5 bg-madison context-dark novi-background">
                <div class="shell text-md-left">
                    <p class="">© <span class="copyright-year">2019</span> All Rights Reserved Terms of Use and <a href="privacy.html">Privacy Policy.</a><span> A Product Of&nbsp;by Patshala</span></p>
                </div>
            </div>
        </div>
    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
 @*   <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    <script src="~/js/core.min.js"></script>
    <script src="~/js/script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
