<!DOCTYPE html>
<html lang="en">
<head>
   <title>হাজী সিরাজ উদ্দিন মেমোরিয়াল উচ্চ বিদ্যালয়</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="Hazi Siraj Uddin Memorial High School">
 
    <link rel="icon" href="~/images/SchoolContent/logofinal_REj_icon.ico" type="image/x-icon">
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
@*    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HSUMHS.UI.styles.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/novi.css" />
</head>
<body>
    <header class="page-head">
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar novi-background rd-navbar-center" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="220px" data-xl-stick-up-offset="220px" data-xxl-stick-up-offset="220px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                <div class="rd-navbar-inner">
                    <div class="rd-navbar-panel">
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap"><span></span></button>
                        <h4 class="panel-title">HSUMHS</h4><button class="rd-navbar-top-panel-toggle" data-rd-navbar-toggle=".rd-navbar-top-panel"><span></span></button>
                        <div class="rd-navbar-top-panel">
                            <div class="shell">
                                <div class="range range-10 range-md-center range-md-middle range-lg-around">
                                    <div class="cell-md-3">
                                        <div class="unit unit-horizontal unit-top unit-spacing-xs">
                                            <div class="unit-left"><span class="icon novi-icon mdi mdi-phone text-middle"></span></div>
                                            <div class="unit-body"><a class="reveal-block" href="tel:#">+8801815052070</a></div>
                                        </div>
                                    </div>
                                    <div class="cell-md-3 text-center">
                                        <div class="rd-navbar-brand"><a class="reveal-inline-block" href="index.html"><img src="~/images/SchoolContent/logofinal.png" alt="" width="200" height="130"></a></div>
                                    </div>
                                    <div class="cell-md-3">
                                        <div class="inset-md-left-50">
                                            <div class="unit unit-horizontal unit-top unit-spacing-xs text-left">
                                                <div class="unit-left"><span class="icon novi-icon mdi mdi-map-marker text-middle"></span></div>
                                                <div class="unit-body"><a href="#">কদম রসুল,নবীগঞ্জ,বন্দর,নারায়ণগঞ্জ</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rd-navbar-menu-wrap clearfix">
                        <div class="rd-navbar-nav-wrap">
                            <div class="rd-navbar-mobile-scroll">
                                <div class="rd-navbar-mobile-header-wrap">
                                    <div class="rd-navbar-mobile-brand"><a href="index.html"><img src="images/logo-default-2-144x122-1.png" alt="" srcset="images/logo-default-2-144x122-1.png 2x"></a></div>
                                </div>
                                <ul class="rd-navbar-nav">
                                    <li><a href="index.html">প্রথম পাতা</a></li>
                                    <li>
                                        <a href="#">পরিচিতি</a>
                                        <ul class="rd-navbar-dropdown">
                                            <li><a href="#">সংক্ষিপ্ত ইতিহাস</a></li>
                                            <li><a href="#">এক নজরে পরিচিতি</a></li>
                                            <li><a href="#">আমাদের অর্জন</a></li>
                                        </ul>
                                    </li>
                                    <li class="rd-navbar--has-dropdown rd-navbar-submenu">
                                        <a href="#">জনবল</a>
                                        <ul class="rd-navbar-dropdown rd-navbar-open-right" style="">
                                            <li><a href="#">কর্মচারী</a></li>
                                            <li><a href="#">শিক্ষক-শিক্ষিকা</a></li>
                                        </ul>
                                    </li>
                                    <li class="rd-navbar--has-dropdown rd-navbar-submenu">
                                        <a href="#">শিক্ষার্থী</a>
                                        <ul class="rd-navbar-dropdown rd-navbar-open-right" style="">
                                            <li><a href="#">অধ্যয়নরত শিক্ষার্থীর সংখ্যা</a></li>
                                            <li><a href="#">অধ্যয়নরত শিক্ষার্থীর তালিকা</a></li>
                                            <li><a href="#">ডিজিটাল হাজিরার তথ্য</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">ছবির গ্যালারী</a>
                                    </li>

                                    <li><a href="contacts.html">যোগাযোগ</a></li>.
                                    <li class="rd-navbar--has-dropdown rd-navbar-submenu">
                                        <a href="#">স্বাধীনতার সুবর্ণ জয়ন্তী কর্নার</a>
                                        <ul class="rd-navbar-dropdown rd-navbar-open-right" style="">
                                            <li><a href="#">নোটিশ </a></li>
                                            <li><a href="#">ছবির গ্যালারী</a></li>
                                            <li><a href="#">ভিডিও গ্যালারী</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <!-- <div class="rd-navbar-search-mobile" id="rd-navbar-search-mobile">
                                    <form class="rd-navbar-search-form search-form-icon-right rd-search" action="search-results.html" method="GET">
                                        <div class="form-group"><label class="form-label" for="rd-navbar-mobile-search-form-control">Search...</label><input class="rd-navbar-search-form-control form-control form-control-gray-lightest" id="rd-navbar-mobile-search-form-control" type="text" name="s" autocomplete="off"></div><button class="icon fa-search rd-navbar-search-button" type="submit"></button>
                                    </form>
                                </div> -->
                            </div>
                        </div>
                        <!-- <div class="rd-navbar-search"><a class="rd-navbar-search-toggle mdi" data-rd-navbar-toggle=".rd-navbar-search" href="#"><span></span></a>
                            <form class="rd-navbar-search-form search-form-icon-right rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                                <div class="form-group"><label class="form-label" for="rd-navbar-search-form-control">Search</label><input class="rd-navbar-search-form-control form-control form-control-gray-lightest" id="rd-navbar-search-form-control" type="text" name="s" autocomplete="off">
                                    <div class="rd-search-results-live" id="rd-search-results-live"></div>
                                </div>
                            </form>
                        </div> -->
                    </div>
                </div>
            </nav>
        </div>
    </header>



      
        @RenderBody()
       
  
  
  

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - HSUMHS.UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
 @*   <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    <script src="~/js/core.min.js"></script>
    <script src="~/js/script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
