@{
    ViewData["Title"] = "Home Page";
}

<section class="section">
    <div class="swiper-container swiper-slider swiper-slider-modern swiper-slider-2" data-loop="true" data-dragable="false" data-slide-effect="fade">
        <div class="swiper-wrapper">
            <div class="swiper-slide" data-slide-bg="images/SchoolContent/Banners/1.jpg" style="background-position: 80% center">
                <div class="swiper-slide-caption section-70">
                    <div class="container">
                        <div class="range range-xs-center">
                            <div class="cell-md-9 cell-xs-10">
                                <div data-caption-animate="fadeInUp" data-caption-delay="100">
                                    <h1 class="text-bold">হাজী সিরাজ উদ্দিন মেমোরিয়াল উচ্চ বিদ্যালয়</h1>
                                </div>
                                <!-- <div class="offset-top-20 offset-xs-top-40 offset-xl-top-15" data-caption-animate="fadeInUp" data-caption-delay="150">
                                    <h6 class=""><span data-novi-id="1">Besides providing you with new knowledge and training in chosen disciplines, our university also gives you an opportunity to benefit from spending your free time by playing .</span></h6>
                                </div>
                                <div class="offset-top-20 offset-xl-top-30" data-caption-animate="fadeInUp" data-caption-delay="400">
                                    <div class="group-xl group-middle"><a class="btn btn-primary" href="#">Start a Journey</a><a class="btn btn-default" href="#"><span data-novi-id="3">Get Template Now</span></a></div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-slide-bg="images/SchoolContent/Banners/2.jpg" style="background-position: 80% center">
            </div>
            <div class="swiper-slide" data-slide-bg="images/SchoolContent/Banners/3.jpg" style="background-position: 80% center">
                <div class="swiper-slide-caption section-70">
                </div>
            </div>
            <div class="swiper-slide" data-slide-bg="images/SchoolContent/Banners/4.png" style="background-position: 80% center">
                <div class="swiper-slide-caption section-70">
                </div>
            </div>
            <div class="swiper-slide" data-slide-bg="images/SchoolContent/Banners/5.jpg" style="background-position: 80% center">
                <div class="swiper-slide-caption section-70">
                </div>
            </div>
            <div class="swiper-slide" data-slide-bg="images/SchoolContent/Banners/6.png" style="background-position: 80% center">
                <div class="swiper-slide-caption section-70">
                </div>
            </div>
            <div class="swiper-slide" data-slide-bg="images/SchoolContent/Banners/7.jpg" style="background-position: 80% center">
                <div class="swiper-slide-caption section-70">
                </div>
            </div>
            <div class="swiper-slide" data-slide-bg="images/SchoolContent/Banners/8.jpg" style="background-position: 80% center">
                <div class="swiper-slide-caption section-70">
                </div>
            </div>
        </div>
        <div class="swiper-button-prev fa-arrow-left"></div>
        <div class="swiper-button-next fa-arrow-right"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>
<section class="section novi-background bg-cover section-70 section-md-114 bg-default">
    <div class="shell">
        <div class="range range-50">
            <div class="cell-sm-4 cell-sm-push-2 text-sm-left">
                <div class="inset-sm-left-50">
                    <img class="img-responsive reveal-inline-block img-rounded" src="images/users/user-christopher-smith-340x300.jpg" alt="" width="340" height="300">
                    <div class="offset-top-20">
                        <h6 class="text-primary text-bold">Christopher Smith</h6>
                    </div>
                    <p>First president of the Patshala University, served from 1876 to 1897.</p>
                </div>
            </div>
            <div class="cell-sm-8 cell-sm-push-1 text-sm-left">
                <h2 class="text-bold">হাজী সিরাজ উদ্দিন মেমোরিয়াল উচ্চ বিদ্যালয় </h2>
                <hr class="divider bg-madison hr-sm-left-0">
                <div class="offset-top-30 offset-sm-top-30">
                    <p>
                        হাজী সিরাজ উদ্দিন  মেমোরিয়াল উচ্চ বিদ্যালয় নারায়ণগঞ্জ জেলার বন্দর থানার কদম রসুল নবীগঞ্জ এলাকায় মনোরম পরিবেশে অবস্থিত একটি সহ শিক্ষা প্রতিষ্ঠান।আজ থেকে বছর দশেক আগে বিদ্যালয়ের দৃশ্যপট এমন ছিলো না।মাননীয় সাংসদ এ.কে.এম সেলিম ওসমান সাহেবের হাতের স্পর্শে পুরনো চার তলা ভবনের পার্শে বিদ্যালয় ক্যাম্পাসে এখন শিক্ষা প্রকৌশল অধিদপ্তর কতৃক নির্মিত সুশোভিত ছয়তলা ভবন দন্ডায়মান রয়েছে।যার ফলে বৃদ্ধিপ্রাপ্ত ছাত্রছাত্রীরা আনন্দের সাথে পাঠচর্চার সুযোগ লাভ করতেছে।সুবিশাল মাঠ সম্বলিত অন্য প্রান্তে রয়েছে প্রশাসনিক ভবন।অবসর সময়ে শিক্ষার্থীরা মাঠে খেলাধুলা করার সুযোগ পায়।চতুর্থ তলা ভবনের দ্বিতীয় তলায় রয়েছে আইসিটি লার্নিং সেন্টার।এখানে শিক্ষার্থীরা অত্যন্ত আনন্দের সাথে তথ্য প্রযুক্তির ক্লাসগুলো করতে পারছে।এছাড়াও বৃটিশ কাউন্সিল প্রদত্ত মাল্টিমিডিয়া ক্লাসের জন্য রয়েছে সোলার সিস্টেম।অত্র বিদ্যালয়ের প্রাক্তন অনেক শিক্ষার্থীরা বিভিন্ন সেক্টরে মর্যাদাশীল আসনে আসীন রয়েছেন।তাদের অনুসরণ করে বর্তমান প্রজন্ম তাদেরকে আরো উচ্চতায় নিয়ে যেতে পারবে।ধনী গরিব নির্বিশেষে সকল শ্রেণির অভিভাবকদের সন্তানদের জন্য এটি একটি সর্বজনগ্রাহ্য ও সমাদৃত শিক্ষাপ্রতিষ্ঠান।কমিটির আন্তরিক উদারতার জন্য অনেক শ্রমজীবী শিক্ষার্থীরাও এখানে প্রানখুলে হেসেখেলে পাঠাভ্যাস করতে পারে।ইংরেজি শিক্ষায় আগ্রহী ছাত্রছাত্রীদের জন্য অভিজ্ঞ শিক্ষকদের দ্বারা পরিচালিত হচ্ছে একটি ল্যাংগুয়েজ ক্লাব যার সুফল পাচ্ছে প্রবাসী ও বিদেশগামী অনেক শিক্ষার্থীরা।শিক্ষার ধারাবাহিকতা অব্যাহত আছে বিধায় ভবিষ্যতে প্রতিষ্ঠানটি আরো অনন্য মাত্রায় এগিয়ে যাবে একথা অনুস্বীকার্য।জাতির পিতা ববঙ্গবন্ধু শেখ মুজিবুর রহমানের স্বপ্নের সোনার বাংলা গড়তে আদর্শ মানুষ গড়ার প্রত্যয়ে সকলের সহযোগিতা কাম্য।
                    </p>
                </div>
                <h5>
                    শুভেচ্ছান্তে,
                    <b>মোঃ হেলাল উদ্দিন </b>
                    হাজী সিরাজ উদ্দিন মেমোরিয়াল উচ্চ বিদ্যালয়
                    নবীগঞ্জ,বন্দর,নারায়ণগঞ্জ।
                </h5>
            </div>
        </div>
    </div>
</section>
<section class="section novi-background bg-cover section-70 section-md-114 bg-default">
    <div class="shell container text-center">
        <h2 class="text-bold">পরিসংখ্যান</h2>
        <hr class="divider bg-madison">
        <div class="range range-65 range-xs-center range-md-left offset-top-55 counters">
            <div class="cell-sm-6 cell-md-3">
                <div class="counter-type-1">
                    <span class="icon novi-icon icon-lg icon-outlined text-madison mdi mdi-school"></span>
                    <div class="h3 text-bold text-primary offset-top-15"><span class="counter text-success">92</span><span class="symbol text-success">%</span></div>
                    <hr class="divider bg-gray-light divider-sm">
                    <div class="offset-top-10">
                        <h6 class="text-black  font-accent">পাশের হার</h6>
                    </div>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3">
                <div class="counter-type-1">
                    <span class="icon novi-icon icon-lg icon-outlined text-madison mdi mdi-wallet-travel"></span>
                    <div class="h3 text-bold text-primary offset-top-15"><span class="counter text-success">24</span><span class="symbol"></span></div>
                    <hr class="divider bg-gray-light divider-sm">
                    <div class="offset-top-10">
                        <h6 class="text-black font-accent">শিক্ষক</h6>
                    </div>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3">
                <div class="counter-type-1">
                    <span class="icon novi-icon icon-lg icon-outlined text-madison mdi mdi-domain"></span>
                    <div class="h3 text-bold text-primary offset-top-15"><span class="counter text-success">3</span><span class="symbol"></span></div>
                    <hr class="divider bg-gray-light divider-sm">
                    <div class="offset-top-10">
                        <h6 class="text-black font-accent">ভবন</h6>
                    </div>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3">
                <div class="counter-type-1">
                    <span class="icon novi-icon icon-lg icon-outlined text-madison mdi mdi-account-multiple-outline"></span>
                    <div class="h3 text-bold text-primary offset-top-15"><span class="counter text-success">850</span><span class="symbol"></span></div>
                    <hr class="divider bg-gray-light divider-sm">
                    <div class="offset-top-10">
                        <h6 class="text-black font-accent">শিক্ষার্থীর সংখ্যা</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section novi-background bg-cover section-70 section-md-114 bg-catskill">
    <div class="shell-wide text-center container">
        <h2 class="text-bold">Events</h2>
        <hr class="divider bg-madison">
        <div class="range range-50 offset-top-50 range-xs-center">
            <div class="cell-sm-6 cell-md-5 cell-xl-3">
                <article class="post-event">
                    <div class="post-event-img-overlay">
                        <img class="img-responsive" src="images/blog/events-01-420x420.jpg" alt="" width="420" height="420">
                        <div class="post-event-overlay context-dark">
                            <a class="btn btn-primary" href="#">Book Now</a>
                            <div class="offset-top-20"><a class="btn btn-default" href="event-page.html">Learn More</a></div>
                        </div>
                        <div class="post-event-meta text-center">
                            <div class="h3 text-bold reveal-inline-block reveal-lg-block">31</div>
                            <p class="reveal-inline-block reveal-lg-block">September</p><span class="text-bold reveal-inline-block reveal-lg-block inset-left-10 inset-lg-left-0">5:00pm</span>
                        </div>
                    </div>
                    <div class="unit unit-lg unit-lg-horizontal">
                        <div class="unit-body">
                            <div class="post-event-body text-lg-left">
                                <h6><a href="event-page.html">Spacewalking Conference</a></h6>
                                <ul class="list-inline list-inline-xs">
                                    <li><a href="team-member-profile.html"><span class="icon novi-icon icon-xxs mdi mdi-account-outline text-middle"></span><span class="inset-left-10 text-dark text-middle">Walter Stanley</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="cell-sm-6 cell-md-5 cell-xl-3">
                <article class="post-event">
                    <div class="post-event-img-overlay">
                        <img class="img-responsive" src="images/blog/events-02-420x420.jpg" alt="" width="420" height="420">
                        <div class="post-event-overlay context-dark">
                            <a class="btn btn-primary" href="#">Book Now</a>
                            <div class="offset-top-20"><a class="btn btn-default" href="event-page.html">Learn More</a></div>
                        </div>
                        <div class="post-event-meta text-center">
                            <div class="h3 text-bold reveal-inline-block reveal-lg-block">05</div>
                            <p class="reveal-inline-block reveal-lg-block">May</p><span class="text-bold reveal-inline-block reveal-lg-block inset-left-10 inset-lg-left-0">5:00pm</span>
                        </div>
                    </div>
                    <div class="unit unit-lg unit-lg-horizontal">
                        <div class="unit-body">
                            <div class="post-event-body text-lg-left">
                                <h6><a href="event-page.html">International Conference on Biomolecular Engineering</a></h6>
                                <ul class="list-inline list-inline-xs">
                                    <li><a href="team-member-profile.html"><span class="icon novi-icon icon-xxs mdi mdi-account-outline text-middle"></span><span class="inset-left-10 text-dark text-middle">Raymond Salazar</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="cell-sm-6 cell-md-5 cell-xl-3">
                <article class="post-event">
                    <div class="post-event-img-overlay">
                        <img class="img-responsive" src="images/blog/events-03-420x420.jpg" alt="" width="420" height="420">
                        <div class="post-event-overlay context-dark">
                            <a class="btn btn-primary" href="#">Book Now</a>
                            <div class="offset-top-20"><a class="btn btn-default" href="event-page.html">Learn More</a></div>
                        </div>
                        <div class="post-event-meta text-center">
                            <div class="h3 text-bold reveal-inline-block reveal-lg-block">17</div>
                            <p class="reveal-inline-block reveal-lg-block">June</p><span class="text-bold reveal-inline-block reveal-lg-block inset-left-10 inset-lg-left-0">5:00pm</span>
                        </div>
                    </div>
                    <div class="unit unit-lg unit-lg-horizontal">
                        <div class="unit-body">
                            <div class="post-event-body text-lg-left">
                                <h6><a href="event-page.html">Graphic Design Workshop</a></h6>
                                <ul class="list-inline list-inline-xs">
                                    <li><a href="team-member-profile.html"><span class="icon novi-icon icon-xxs mdi mdi-account-outline text-middle"></span><span class="inset-left-10 text-dark text-middle">Bruce Hawkins</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="cell-sm-6 cell-md-5 cell-xl-3">
                <article class="post-event">
                    <div class="post-event-img-overlay">
                        <img class="img-responsive" src="images/blog/events-04-420x420.jpg" alt="" width="420" height="420">
                        <div class="post-event-overlay context-dark">
                            <a class="btn btn-primary" href="#">Book Now</a>
                            <div class="offset-top-20"><a class="btn btn-default" href="event-page.html">Learn More</a></div>
                        </div>
                        <div class="post-event-meta text-center">
                            <div class="h3 text-bold reveal-inline-block reveal-lg-block">06</div>
                            <p class="reveal-inline-block reveal-lg-block">June</p><span class="text-bold reveal-inline-block reveal-lg-block inset-left-10 inset-lg-left-0">5:00pm</span>
                        </div>
                    </div>
                    <div class="unit unit-lg unit-lg-horizontal">
                        <div class="unit-body">
                            <div class="post-event-body text-lg-left">
                                <h6><a href="event-page.html">History of Art</a></h6>
                                <ul class="list-inline list-inline-xs">
                                    <li><a href="team-member-profile.html"><span class="icon novi-icon icon-xxs mdi mdi-account-outline text-middle"></span><span class="inset-left-10 text-dark text-middle">Danielle Garza</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<section class="section novi-background bg-cover section-70 section-md-114 bg-default">
    <div class="shell text-center container">
        <h2>গ্যালারী</h2>
        <hr class="divider bg-madison">
        <div class="offset-top-60">
            <div class="range range-30 range-xs-center" data-lightgallery="group">
                <div class="cell-xs-10 cell-sm-6 cell-md-4">
                    <figure class="thumbnail-classic thumbnail-md">
                        <div class="thumbnail-classic-img-wrap"><img src="images/SchoolContent/Gallery/IMG_1508.JPG" alt="" width="370" height="370"> </div>
                        <figcaption class="thumbnail-classic-caption text-center">
                            <div class="offset-top-20 veil reveal-lg-block"><a class="thumbnail-classic-link icon novi-icon icon-xxs fa-search-plus" href="images/SchoolContent/Gallery/IMG_1508.JPG" data-lightgallery="item"><img src="images/SchoolContent/Gallery/IMG_1508.JPG" alt="" width="370" height="370"></a></div>
                        </figcaption>
                    </figure>
                </div>
                <div class="cell-xs-10 cell-sm-6 cell-md-4">
                    <figure class="thumbnail-classic thumbnail-md">
                        <div class="thumbnail-classic-img-wrap"><img src="images/SchoolContent/Gallery/IMG_1515.JPG" alt="" width="370" height="370"> </div>
                        <figcaption class="thumbnail-classic-caption text-center">
                            <div class="offset-top-20 veil reveal-lg-block"><a class="thumbnail-classic-link icon novi-icon icon-xxs fa-search-plus" href="images/SchoolContent/Gallery/IMG_1515.JPG" data-lightgallery="item"><img src="images/SchoolContent/Gallery/IMG_1515.JPG" alt="" width="370" height="370"></a></div>
                        </figcaption>
                    </figure>
                </div>
                <div class="cell-xs-10 cell-sm-6 cell-md-4">
                    <figure class="thumbnail-classic thumbnail-md">
                        <div class="thumbnail-classic-img-wrap"><img src="images/SchoolContent/Gallery/IMG_1519.JPG" alt="" width="370" height="370"> </div>
                        <figcaption class="thumbnail-classic-caption text-center">
                            <div class="offset-top-20 veil reveal-lg-block"><a class="thumbnail-classic-link icon novi-icon icon-xxs fa-search-plus" href="images/SchoolContent/Gallery/IMG_1519.JPG" data-lightgallery="item"><img src="images/SchoolContent/Gallery/IMG_1519.JPG" alt="" width="370" height="370"></a></div>
                        </figcaption>
                    </figure>
                </div>

                <div class="cell-xs-10 cell-sm-6 cell-md-4">
                    <figure class="thumbnail-classic thumbnail-md">
                        <div class="thumbnail-classic-img-wrap"><img src="images/SchoolContent/Gallery/IMG_1522.JPG" alt="" width="370" height="370"> </div>
                        <figcaption class="thumbnail-classic-caption text-center">
                            <div class="offset-top-20 veil reveal-lg-block"><a class="thumbnail-classic-link icon novi-icon icon-xxs fa-search-plus" href="images/SchoolContent/Gallery/IMG_1522.JPG" data-lightgallery="item"><img src="images/SchoolContent/Gallery/IMG_1522.JPG" alt="" width="370" height="370"></a></div>
                        </figcaption>
                    </figure>
                </div>
                <div class="cell-xs-10 cell-sm-6 cell-md-4">
                    <figure class="thumbnail-classic thumbnail-md">
                        <div class="thumbnail-classic-img-wrap"><img src="images/SchoolContent/Gallery/IMG_1533.JPG" alt="" width="370" height="370"> </div>
                        <figcaption class="thumbnail-classic-caption text-center">
                            <div class="offset-top-20 veil reveal-lg-block"><a class="thumbnail-classic-link icon novi-icon icon-xxs fa-search-plus" href="images/SchoolContent/Gallery/IMG_1533.JPG" data-lightgallery="item"><img src="images/SchoolContent/Gallery/IMG_1533.JPG" alt="" width="370" height="370"></a></div>
                        </figcaption>
                    </figure>
                </div>
                <div class="cell-xs-10 cell-sm-6 cell-md-4">
                    <figure class="thumbnail-classic thumbnail-md">
                        <div class="thumbnail-classic-img-wrap"><img src="images/SchoolContent/Gallery/IMG_1561.JPG" alt="" width="370" height="370"> </div>
                        <figcaption class="thumbnail-classic-caption text-center">
                            <div class="offset-top-20 veil reveal-lg-block"><a class="thumbnail-classic-link icon novi-icon icon-xxs fa-search-plus" href="images/SchoolContent/Gallery/IMG_1561.JPG" data-lightgallery="item"><img src="images/SchoolContent/Gallery/IMG_1561.JPG" alt="" width="370" height="370"></a></div>
                        </figcaption>
                    </figure>
                </div>


                <div class="offset-top-50 offset-lg-top-56"><a class="btn btn-icon btn-icon-right btn-primary" href="gallery.html"><span class="icon fa-arrow-right"></span><span>See more</span></a></div>


            </div>
        </div>
    </div>
</section>